<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Push service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Push service</h1>
        <nav>
            <ul>
                <li><a href="/push">Push service</a></li>
                <li><a href="/about">About us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Notifications List</h1>
        <ul>
            {% for notification in notifications %}
                <li>
                    <strong>ID:</strong> {{ notification.id }}<br>
                    <strong>Type:</strong> {{ notification.notification_type }}<br>
                    <strong>Address:</strong> {{ notification.address }}<br>
                    <strong>Title:</strong> {{ notification.title }}<br>
                    <strong>Message:</strong> {{ notification.message }}<br>
                    <strong>Status:</strong> {{ notification.status }}<br>
                    <strong>Attempts:</strong> {{ notification.attempts }}<br>
                    <strong>Log:</strong> {{ notification.log }}<br>
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Push service</p>
    </footer>
</body>
</html>