# Flask
# Flask-SQLAlchemy
# Flask-Session
# Flask-Migrate
# requests
# psycopg2-binary
# python-dotenv
# alembic==1.14.0
# kafka-python-ng
# six==1.17.0
# dependency-injector

Flask
Flask-SQLAlchemy
Flask-Migrate
kafka-python-ng
psycopg2-binary